<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script data-require="angular.js@1.4.6" data-semver="1.4.6" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body class="text-center" ng-app="github">
        <div ng-controller="UserController as userCtrl">
            <form class="form-signin">
                <img class="mb-4" src="github_logo.jpg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Consulta de usuários do Github</h1>
                <input width="250" type="text" ng-model="nome" id="nome" class="form-control" placeholder="Digite seu username aqui" required autofocus>
                <button type="button" ng-click="userCtrl.getUser(nome)" class="btn btn-primary" data-toggle="modal" href="" data-target="#exampleModal">Enviar</button>
                <p class="mt-5 mb-3 text-muted">Trabalho de DAW</p>
            </form>

            <h2>Seu nome é {{userCtrl.user.name}}</h2>

            <input id="search" type="text" ng-model="search" placeholder="Digite o nome do repositório">

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <div ng-repeat="repo in userCtrl.repositorios | filter:search">
                            <a class="btn btn-primary" data-toggle="collapse" href="#{{repo.name}}" role="button" aria-expanded="false" aria-controls="collapseExample">{{repo.name}}</a>

                            <div class="collapse" id="{{repo.name}}">
                                <div class="card card-body">
                                    <p>{{repo.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>