.circle {
    background-color: #aaa;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  
  .circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer {
    background: #ecf0f1;
    line-height: 50px;
    padding: 0 20px;
  }